In [2]:
import pandas as pd
test = pd.read_csv("X_test.csv")
X = pd.read_csv("X_train.csv")
y = pd.read_csv("y_train.csv")
y

        ID  Reached.on.Time_Y.N
0        1                    0
1        2                    1
2        3                    1
3        4                    1
4        5                    1
...    ...                  ...
8794  8795                    0
8795  8796                    1
8796  8797                    1
8797  8798                    0
8798  8799                    0

[8799 rows x 2 columns]

In [3]:
# 1. 결측치 제거 및 사용할 컬럼 선택
col_del=['ID']
col_num=['Customer_care_calls','Customer_rating','Cost_of_the_Product','Prior_purchases','Discount_offered','Weight_in_gms']
col_cat=['Warehouse_block','Mode_of_Shipment','Product_importance','Gender']
col_y=['Reached.on.Time_Y.N']

from sklearn.preprocessing import LabelEncoder

for col in col_cat:
    le=LabelEncoder()
    le.fit(X[col])
    X[col]=le.transform(X[col])
    le.fit(test[col])
    test[col]=le.transform(test[col])

# 2. 데이터 스플릿 및 스케일링
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(pd.concat([X[col_cat],X[col_num]],axis=1),y[col_y],test_size=0.3)

from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
scaler.fit(X[col_num])
x_tr[col_num]=scaler.transform(x_tr[col_num])
test[col_num]=scaler.transform(test[col_num])
x_val[col_num]=scaler.transform(x_val[col_num])
# 3. 모델링 및 평가
from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier()
rf.fit(x_tr,y_tr)
pred=rf.predict(x_val)

<ipython-input-3-35fc3f821eae>:32: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_tr,y_tr)

In [5]:

from sklearn.metrics import accuracy_score
score=accuracy_score(y_val,pred)
score

0.6678030303030303